RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.manueltaber\.com$
RewriteRule ^/?$ "http\:\/\/manueltaber\.com\/" [R=301,L]
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
